@model Task1.Models.Doctor
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Delete";
}

<h1>آیا می خواهید <span>@Model.Name @Model.Family با شناسه @Model.DoctorID را از لیست پزشکان حذف کنید؟</span></h1>
<form asp-action="Deleted">
    <input type="hidden" value="@Model.DoctorID" name="id" />
    <input type="submit" value="بله" class="btn btn-danger" />
    <a asp-action="Index" class="btn btn-primary">خیر</a>
</form>
